<div class="account-page">
  <div class="container">
    <h3 class="account-title">Management Login</h3>
    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.png" alt="Focus Technologies"></a>
        </div>
        <form (ngSubmit)="onSubmit();sendCodeForm.reset()" #sendCodeForm="ngForm">
          <label class="control-label">Enter your email</label>
          <div class="form-group form-focus">
            <input class="form-control floating" type="email" name="email" [(ngModel)]="data.email" #email="ngModel">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-block account-btn" type="submit">Reset Password</button>
          </div>
          <div class="text-center">
            <a routerLink="../login">Back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="openModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 *ngIf="successH" class="modal-title">Success</h4>
        <h4 *ngIf="failureH" class="modal-title">Opps, Something went wrong</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div *ngIf="successB" class="modal-body">
        A reset link have being successfully send to your email, please check your email
      </div>
      <div *ngIf="failureB" class="modal-body">
        Email ivalid or email doesn't exist, please check email and try again.
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<button id="openUpModal" [style.display]="'none'" type="button" class="btn btn-primary" data-toggle="modal" data-target="#openModal"></button>

