<div class="page-wrapper">
<div class="content container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <h4 class="page-title">Admin</h4>
    </div>
    <div class="col-xs-8 text-right m-b-30">
      <a href="javascript:" class="btn btn-primary pull-right rounded" (click)="addReset()"><i class="fa fa-plus"></i>
        Add Admin</a>
      <div class="view-icons">
        <a class="grid-view btn btn-link" [ngClass]="{active:!allAdmin}" (click)="allAdmin=false"><i class="fa fa-th"></i></a>
        <a class="list-view btn btn-link" [ngClass]="{active:allAdmin}" (click)="allAdmin=true"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Admin ID</label>
        <input type="text" class="form-control floating" (input)="searchID($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Admin Name</label>
        <input type="text" class="form-control floating" (input)="searchFname($event.target.value)"/>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="form-group form-focus">
        <label class="control-label">Contact</label>
        <input type="text" class="form-control floating" (input)="searchContact($event.target.value)"/>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="javascript:" class="btn btn-success btn-block"> Search </a>
    </div>
  </div>
  <div class="row" *ngIf="allAdmin">
    <div class="col-md-12">
      <div class="table-responsive table-responsive-inherit">
      <table class="table table-striped custom-table" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
          <tr>
            <th style="width: 40%">
              <mfDefaultSorter by="fname">FName</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="id">ID</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="phone">Mobile</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="dob">DOB</mfDefaultSorter>
            </th>
            <th style="width: 10%" class="text-center">
              <mfDefaultSorter by="trn">Type</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="action">Action</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td><a href="javascript:" class="avatar">{{item.fname.split('')[0]}}</a>
              <h2><a href="javascript:">{{item.fname}} {{item.mname}}<span>{{item.lname}}</span></a></h2>
            </td>
            <td>FT-00{{item.id}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.dob}}</td>
            <td>{{item.type}}</td>

            <td class="text-right">
              <div class="dropdown">
                <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:" data-toggle="modal" data-target="#edit_admin" (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i>
                      Edit</a></li>
                  <li><a (click)="onDelete(item.id)"><i class="fa fa-trash-o m-r-5"></i>
                      Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
</div>
    </div>
  </div>
  <div class="row staff-grid-row" *ngIf="!allAdmin">
    <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3" *ngFor="let item of rows">
      <div class="profile-widget">
        <div class="profile-img">
          <a href="javascript:"><img class="avatar" src="assets/img/user.jpg" alt=""></a>
        </div>
        <div class="dropdown profile-action">
          <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:" data-toggle="modal" data-target="#edit_admin"  (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
            <li><a (click)="onDelete(item.id)"><i class="fa fa-trash-o m-r-5"></i>
                Delete</a></li>
          </ul>
        </div>
        <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="javascript:">{{item.fname}} {{item.lname}}</a></h4>
        <div class="small text-muted">{{item.type}}</div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="add_admin" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">Add Admin</h4>
      </div>

    </div>
  </div>
</div>


<div id="delete_admin" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h4 class="modal-title">Delete Admin</h4>
      </div>
      <form>
        <div class="modal-body card-box">
          <p>Are you sure want to delete this?</p>
          <div class="m-t-20"> <a href="javascript:" class="btn btn-default" data-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
