<div class="account-page">
  <a routerLink="../../career/jobs" class="btn btn-primary apply-btn">Apply Job</a>
<div class="container">
  <h3 class="account-title">Human Resource Management System</h3>
  <div class="account-box">
    <div class="account-wrapper">
      <div class="account-logo">
        <a href="javascript:"><img class="logo" src="assets/img/logo2.png" alt="Focus Technologies"></a>
      </div>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <label class="control-label">Username or Email</label>
        <div class="form-group form-focus">

          <input class="form-control floating" name="email" [(ngModel)]="data.email" type="text">
        </div>

        <label class="control-label">Password</label>
        <div class="form-group form-focus">

          <input class="form-control floating" name="password" [(ngModel)]="data.password" type="password">
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary btn-block account-btn" type="submit">Login</button>
        </div>
        <div class="text-center">
          <a routerLink="../forgot-password">Forgot your password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
