<div class="account-page">
  <div class="container">
    <h3 class="account-title">Reset Password</h3>
    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.png" alt="Focus Technologies"></a>
        </div>
        <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
          <label class="control-label">New Password</label>
          <div class="form-group form-focus" >
            <input class="form-control floating" name="password" [(ngModel)]="data.password" type="password" #password="ngModel" required>
            <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              Password is required
            </div>
          </div>
          <label class="control-label">Confirm Password</label>
          <div class="form-group form-focus">
            <input class="form-control floating" name="passwordConfirm" ngModel  type="password" #pwConfirm="ngModel" required compare="password">
            <div class="text-danger" *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">
              <div *ngIf="pwConfirm.errors['required']">confirm password is required</div>
              <div *ngIf="pwConfirm.errors['compare']">confirm password do not match</div>
            </div>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-block account-btn" type="submit" [disabled]="resetForm.invalid">Set Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

